@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --borderc: #e3e3e3;
  --color2: #e4e4e4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --borderc: var(--borderc);
  --color2: var(--color2);
  --font-mono: var(--font-geist-mono);
  --font-judson: var(--font-judson);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f7;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}
